<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:replace="fragments :: head"></head>
	<body>
		<nav th:replace="fragments :: navbar"></nav>
		<div class="row">
			<div class="col-sm-4 offset-sm-4 text-center">
				<h3>Expense added</h3>
				<p>Name: <span th:text="${expense.name}"></span></p>
				<p>Type: <span th:text="${expense.type}"></span></p>
				<p>Amount: <span th:text="${expense.amount}"></span> kn</p>
				<a class="btn btn-primary" th:href="@{/expenses/new}">Add new expense</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 offset-sm-4 text-center">
				<h3>Sum of expenses in wallet</h3>
				<p th:text="${sumOfExpenses}"></p>
				<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary" th:href="@{/expenses/resetWallet}">Clear wallet</a>
			</div>
		</div>
		<div th:replace="fragments :: footer"></div>
	</body>
</html>