<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments :: head"></head>
	<body>
		<nav th:replace="fragments :: navbar"></nav>
		<div class="row">
			<h1 class="col-sm-4 offset-sm-4 text-center" th:text="#{msg.lang.title}">MoneySaver</h1>
			<p class="col-sm-4 offset-sm-4 text-center" th:text="#{msg.lang.subtitle}">Save you money with our revolutionary money saving app.</p>
		</div>
		<div th:replace="fragments :: footer"></div>
	</body>
</html>